<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Material Design Integration
  </h1>


  <form class="example-form">
      <mat-checkbox></mat-checkbox><button mat-button>Submit</button>  <br/>
      <mat-grid-list cols="2" rowHeight="6:1">
    <mat-grid-tile>Hello1</mat-grid-tile>
    <mat-grid-tile>Hello2</mat-grid-tile>
    <mat-grid-tile>Hello3</mat-grid-tile>
    <mat-grid-tile>Hello4</mat-grid-tile>
      </mat-grid-list>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" >
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>
</div>
 
 
